body {
  background: #1bbdf3;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.logo-menu {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 0 0 20px 20px;
  padding: 8px 32px 0;
  margin-bottom: 24px;
}

.logo {
  max-width: 80px;
  padding: 8px 0;
}

.ham-button {
  display: none;
}

.menu .botoes {
  display: flex;
  gap: 8px;
  height: 100%;
}

.menu .botoes li button {
  height: 100%;
  padding: 0 16px;
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.menu .botoes li button:hover {
  color: #1bbdf3;
}

/* Pages Shared Styles*/
main {
  max-width: 1440px;
  margin: 16px auto;
}

.content {
  margin: 0 32px;
}

.borda {
  background-color: white;
  padding: 24px;
  border-radius: 20px;
  overflow: hidden;
  /* border: 3px solid #052f64; */
}

.borda h1 {
  text-align: center;
  font-size: 32px;
}

/* Pages Specific Styles*/
/* Início */
.home-top-wrapper img {
  float: left;
  max-width: 50%;
}

.home-pequena-descricao {
  font-size: 24px;
  padding: 0 16px;
  letter-spacing: 1px;
}

.agenda-wrapper {
  border: 6px solid #1bbdf3;
  border-radius: 20px;
  max-width: min-content;
  margin: 32px auto;
}

.agenda-horario {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-top: 2px solid #1bbdf3;
  padding: 6px;
}

.agenda-horario ul {
  min-width: 668px;
}

.agenda-title {
  font-weight: 700;
}

/* Sobre nós */
.sobre-nos {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sobre-local,
.sobre-atividades {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobre-local img,
.sobre-atividades img {
  width: 50%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
  transition: all ease-in-out 0.5s;
}

.sobre-local img:hover,
.sobre-atividades img:hover {
  transform: scale(1.02);
  box-shadow: 0px 3px 12px rgba(27, 189, 243, 0.3);
}

.texto-sobre {
  width: 50%;
  height: max-content;
  padding: 0 32px;
  font-size: 24px;
  text-align: center;
}

.sobre-atividades-2 .texto-sobre {
  width: 100%;
}

.sobre-atividades-2 img {
  max-width: 100%;
  border-radius: 20px;
  transition: all ease-in-out 0.5s;
  margin-bottom: 24px;
}

.sobre-atividades-2 img:hover {
  transform: scale(1.01);
  box-shadow: 0px 3px 12px rgba(27, 189, 243, 0.3);
}

/* Eventos */
.eventos {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.wrapper-eventos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-eventos img {
  width: 50%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
  transition: all ease-in-out 0.5s;
}

.texto-eventos {
  width: 50%;
  font-size: 24px;
  text-align: center;
  padding: 0 16px;
}

.wrapper-eventos img:hover {
  transform: scale(1.02);
  box-shadow: 0px 3px 12px rgba(27, 189, 243, 0.3);
}

/* Equipe */
.equipe {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.equipe-wrapper {
  display: flex;
}

.equipe-wrapper img {
  width: 350px;
  border-radius: 20px;
  object-fit: cover;
}

.equipe-text {
  padding: 0 32px;
}

.descricao-profissional-equipe {
  font-size: 30px;
  margin-bottom: 32px;
}

.funcao-equipe {
  font-size: 24px;
}

/* Contato */
.contato img {
  margin: 16px 0;
  border-radius: 20px;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .logo-menu {
    display: flex;
    flex-direction: column;
  }

  .logo-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .ham-button {
    display: block;
    border: 0;
    background-color: transparent;
  }

  .menu {
    margin-bottom: 16px;
  }
  .botoes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .botoes li {
    text-align: center;
    width: 100%;
  }

  .botoes li button {
    width: 100%;
  }

  .remove {
    display: none;
  }

  /* Home */
  .content {
    margin: 16px;
  }

  .borda {
    padding: 12px;
  }

  .home-top-wrapper img {
    padding: 4px;
  }

  .home-pequena-descricao {
    padding: 0;
    font-size: 16px;
  }

  .agenda-wrapper {
    border: 4px solid #1bbdf3;
    margin: 32px 0;
    max-width: unset;
    overflow: hidden;
  }

  .agenda-horario {
    border-top: 1px solid #1bbdf3;
    text-overflow: clip;
    max-width: 100%;
    display: block;
    font-size: 12px;
    padding: 4px;
  }

  .agenda-horario ul {
    min-width: unset;
  }

  /* Sobre Nos */
  .sobre-local {
    flex-direction: column;
  }

  .sobre-local img {
    width: 100%;
    max-height: 250px;
    margin-bottom: 16px;
  }

  .texto-sobre {
    width: 100%;
    font-size: 18px;
  }

  .sobre-atividades {
    flex-direction: column-reverse;
  }

  .sobre-atividades img {
    width: 100%;
    max-height: 250px;
    margin-bottom: 16px;
  }

  .sobre-atividades-2 .texto-sobre {
    padding: 0;
  }

  /* Eventos */
  .wrapper-eventos {
    flex-direction: column;
  }

  .wrapper-eventos img {
    width: 100%;
    margin-bottom: 16px;
  }

  .texto-eventos {
    width: 100%;
    font-size: 18px;
  }

  /* Equipe */
  .equipe-wrapper {
    flex-direction: column;
  }

  .descricao-profissional-equipe {
    font-size: 24px;
    font-weight: 700;
    margin: 32px 0;
    text-align: center;
  }

  .funcao-equipe {
    font-size: 16px;
  }

  .contato {
    text-align: center;
  }
}
